.navbar{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand{
    font-size: 1.2em;
}

.brand span{
    font-weight: 900;
    text-transform: uppercase;
}

.link_list{
    display: flex;
    list-style: none;
}

.link_list{
    margin-right: 1em;
}

.link_list li a{
    padding: .4em .6em;
}

.active{
    background-color: #000;
    color: #fff;
}


@media (max-width: 601px){
    .brand{
        font-size: 0.9em;
    }
    .link_list li a{
        padding: .3em .1em;
    }

    li{
        font-size: 0.7em;
    }
}

@media (max-width: 419px){
    .brand{
        font-size: 0.7em;
    }
    .link_list li a{
        padding: .3em .1em;
    }

    li{
        font-size: 0.6em;
    }
}


@media (max-width: 320px){
    .navbar{
        display: flex;
        flex-direction: column;
        padding: .5em;
    }
    .brand{
        font-size: 1.5em;
    }
    .link_list li a{
        padding: .1em .2em;
    }

    li{
        font-size: 0.7em;
    }
}