.create_post{
    text-align: center;
}

.create_post h2{
    font-size: 2.2em;
}

.create_post p{
    color: #aaa;
    margin-bottom: 2em;
}

/* form styles */


  
@media (max-width: 601px){
    form{
        max-width: 80%;
        margin: 0 auto;
      }
}

@media (max-width: 425px){
    .create_post h2{
        font-size: 1.5em;
      }
}

@media (max-width: 320px){
    .create_post p{
        font-size: .8em;
      }
}